# Python version <3.12 is implied (you must manage this with your virtual environment)

# Core packages
nbdime
netCDF4==1.6.0
tensorflow-cpu<2.16
numpy==1.25
numba>=0.58

# Git libs
ecmwflibs
icenet @ git+https://github.com/icenet-ai/icenet@0bac48fbc6447d937498b2c7240a2bd946430700

cf-units
copernicusmarine
ipykernel

# Note @goncalo: not really sure if this is needed.
#jupyterlab
#notebook==6.*
#jupyter-server==1.*
